Package: grub-efi-loong64
Source: grub2
Version: 2.13
Architecture: loong64
Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
Installed-Size: 222
Depends: debconf (>= 0.5) | debconf-2.0, grub2-common (>= 2.02~beta2-9), grub-efi-loong64-bin (= 2.13), ucf
Section: admin
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/grub/
Description: GRand Unified Bootloader, version 2 (loong64 UEFI version)
 GRUB is a portable, powerful bootloader.  This version of GRUB is based on a
 cleaner design than its predecessors, and provides the following new features:
 .
  - Scripting in grub.cfg using BASH-like syntax.
  - Support for modern partition maps such as GPT.
  - Modular generation of grub.cfg via update-grub.  Packages providing GRUB
    add-ons can plug in their own script rules and trigger updates by invoking
    update-grub.
 .
 This is a dependency package for a version of GRUB that has been built for
 use on LoongArch 64-bit systems with UEFI.  Installing this package indicates that
 this version of GRUB should be the active boot loader.
