Package: grub-efi-loong64-dbg
Source: grub2
Version: 2.13
Architecture: loong64
Maintainer: GRUB Maintainers <pkg-grub-devel@alioth-lists.debian.net>
Installed-Size: 15094
Depends: grub-efi-loong64-bin (= 2.13)
Section: debug
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/grub/
Description: GRand Unified Bootloader, version 2 (loong64 UEFI debug files)
 This package contains debugging files for grub-efi-loong64-bin.  You only
 need these if you are trying to debug GRUB using its GDB stub.
